.global {
    width: 55rem;
    height: 11rem;
    border-radius: 8px;
    border: 1px solid #000;
    grid-area: 1 / 1 / 1 / 2;
    place-self: start center;
}

.card {
    width: 13rem;
    height: 7rem;
}