.SearchResults {
    width: 55rem;
    grid-area: 2 / 2 / 3 / 3;
    place-self: start center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SearchTitle {
    margin: 1rem 0;
}

.result-header {
    margin-bottom: 2rem;
}

.result-header img{
    width: 35px;
    height: 30px;
    margin-right: 0.7rem;
}

.more-info {
    margin-top: 1.5rem;
}

.info-container {
    height: 23rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.rates {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}