.App {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainContent {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 13rem 1fr;
}